<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Meme Getter</h1>

  <% if (user) { %>

    <p>Hello <%= user.email %> you favourite meme is <%= user.favouriteMeme %></p>

    <% } else { %>
  <form action="/login" method="post">
  <p>
    <label for="email-field">Email:</label>
    <input id="email-field" name="email">
  </p>

  <p>
    <label for="password-field">Password:</label>
    <input id="password-field" name="password" type="password">
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>
  </form>
<% } %>
</body>
</html>